{{#each comments as |comment|}}
  <div class="comment">
    <div class="comment-header">
      {{#link-to 'user' comment.user}}
        {{comment.user}}
      {{/link-to}}

      {{moment-from-now comment.time}}
    </div>

    <div class="comment-body">
      {{comment.commentText}}
    </div>

    {{#if comment.hasChildren}}
      <div class="comment-children">
        {{comment-list item=comment comments=comment.activeChildren}}
      </div>
    {{/if}}
  </div>
{{/each}}
