{{#if this.showPrev}}
  {{#link-to route (query-params page=(sub page 1))}}
    Prev
  {{/link-to}}
{{else}}
  <div class="placeholder"></div>
{{/if}}

{{#if this.showNext}}
  {{#link-to route (query-params page=(add page 1))}}
    Next
  {{/link-to}}
{{else}}
  <div class="placeholder"></div>
{{/if}}
