{{#if showPrevious}}
  {{#link-to modelName (query-params page=(sub page 1))}}&lt;&lt; Prev{{/link-to}}
{{else}}
  <div></div>
{{/if}}

{{#if showNext}}
  {{#link-to modelName (query-params page=(add page 1))}}Next &gt;&gt;{{/link-to}}
{{else}}
  <div></div>
{{/if}}
