@import 'variables';

// reset
html, body {
  margin: 0;
  // width: 100%;
  // height: 100%;
  // overflow: auto;

  font-family: sans-serif;
}

a {
  &, &:visited {
    color: $linkColor;
    text-decoration: none;
  }

  &:hover {
    color: $primary;
  }
}

@import 'components/header';
