@import 'variables';

// reset
html, body {
  margin: 0;
  font-family: sans-serif;
  background-color: #eee;
}

a {
  &, &:visited {
    color: inherit;
    text-decoration: none;
  }

  &:hover {
    color: $primary;
  }
}

@import 'components/header';
@import 'components/nav-links';
@import 'components/all-stories';
@import 'components/list-story';
