@import 'variables';

// reset
html, body {
  margin: 0;
  font-family: sans-serif;
}

a {
  &, &:visited {
    color: $linkColor;
    text-decoration: none;
  }

  &:hover {
    color: $primary;
  }
}

@import 'components/header';
@import 'components/nav-links';
@import 'components/list-story';
