@import "variables";

@media only screen and (max-width: $phone) {
  .details, .card-list {
    width: 100%;
    overflow: hidden;
  }

  .comment-list {
    width: calc(100% - 10px);

    .comment {
      margin: 5px;

      &-children {
        margin-left: 5px;
        border-width: 2px;
      }
    }
  }
}
