.card-list {
  width: 75%;
  background-color: $secondary;
  display: flex;
  flex-direction: column;
  align-self: center;
  overflow-y: scroll;

  & > * {
    flex: 1 1 auto;
  }

  .pagination {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
    padding: 10px;

    .pagination-button {
      background-color: inherit;
      border: none;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      cursor: pointer;
    }
  }
}
