.hnpwa-header {
  background-color: $primary;
  color: $secondary;
  font-size: 0;
  min-width: $phone-min-width;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  a {
    padding: 15px;
    margin: 0;
    margin-bottom: -1px;
    display: inline-block;
    font-size: 16px;
    min-width: 50px;
    text-align: center;

    &, &:hover, &:visited {
      color: $secondary;
    }

    &.active {
      background-color: $secondary;
      color: $primary;
    }

    &:hover:not(.active) {
      background-color: $tertiary;
    }
  }
}
