.item-card {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #eeeeee;
  margin: 5px 10px;
  padding: 5px;
  color: #333333;

  &-position {
    text-align: center;
    flex-basis: 50px;
    flex-shrink: 0;
  }

  &-body {
    flex-grow: 1;
    padding-left: 10px;

    &-header {
      font-size: 18px;
    }

    &-footer {
      font-size: 14px;

      a:hover {
        color: $primary;
      }
    }
  }

  .muted {
    color: #CCCCCC;
    font-size: 12px;
  }
}
